

body{
	background-color: #eba05e !important;
}
#panel, #flip,#panel2,#flip2 {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel,#panel2 {
    padding: 50px;
  
}